body{
    margin: 0;
    text-align: center;
    background-color: #08d170;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #08d170;
    border-radius: 8px;
    font-family: sans-serif;
}

label{
    padding: 0.5rem;
}

input{
    margin: 1rem;
    padding: 0.5rem;
}

h1{
    color: #244042;
}

#check-number {
    display: block;
    margin-top: 1rem;
    margin: auto;
    background: #244042;
    color: white;
    font-size: 18px;
    width: 40%;
    border-color: #244042;
    border-width: medium;
    padding: 0.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-bottom: 1.5rem;
    
}

#out-put {
    color: red;
    padding-top: 0.5rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.list-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.footer {
    min-height: 100px;
    background-color: white;
    padding: 4rem 1rem;
    text-align: center;
    color: #244042;
    border-top-right-radius: 1rem;
    position: sticky;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
    padding-bottom: 1rem;
}